<p>
  advertiser works!
  <button (click)="logout()">Logout</button>
</p>
<table>
	<tr *ngFor="let campaign of campaignList.campaigns">
		<td>{{campaign.campaignId}}</td>
		<td>{{campaign.campaignName}}</td>
		<td>{{campaign.campaignType}}</td>
		<td>{{campaign.advertiserCurrency}}</td>
		<td>{{campaign.campaignStatus}}</td>
		<td>{{campaign.campaignStartDate}}</td>
		<td>{{campaign.campaignEndDate}}</td>
		<td>{{campaign.updatedOn}}</td>
		<td>
			<div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Dropdown button
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="javascript:void(0)" (click)="getAdvertiserCampaign(campaign.campaignId, 'ca')">Edit Campaign</a>
					<a class="dropdown-item" href="javascript:void(0)" (click)="getAdvertiserCampaign(campaign.campaignId, 'ta')">Targeting</a>
					<a class="dropdown-item" href="javascript:void(0)" (click)="getAdvertiserCampaign(campaign.campaignId, 'lo')">Location</a>
					<!--<a class="dropdown-item" href="javascript:void(0)" (click)="getAdvertiserCampaignCreative(campaign.campaignId, 'cr')">Creative</a>-->
				</div>
			</div>
		</td>
		<td><input [checked]="campaign.campaignStatus == 1" type="checkbox" (change)="updateCampaignStatus(campaign.campaignId, campaign.campaignStatus)"><label
			for="">Status</label></td>
	</tr>
</table>
